<div class="ui centered rounded huge image">
  {{lazy-image url="/assets/images/home_gems.png"}}
  <h1 class="ui center aligned huge header home-days-countdown">
      {{timeTillWedding.days}} DAYS
  </h1>
  <h1 class="ui center aligned large header home-hours-countdown">
      {{timeTillWedding.hours}} HOURS
  </h1>
  <h1 class="ui center aligned medium header home-minutes-countdown">
      {{timeTillWedding.minutes}} MINS
  </h1>
</div>
<h1 class="ui center aligned huge header home-message">
    Till the Wedding!
</h1>
