.view-content {
  background-color: #9c003e;
  background-image: url('/assets/images/diagmonds.png');
}

.view-content {
  height: 100vh;
}

.hidden.menu {
  display: none;
}

.secondary.pointing.toc.menu {
  display: none;
}


@media only screen and (max-width: 700px) {
  .ui .fixed .menu {
    display: none !important;
  }

  .secondary.pointing.nav.menu {
    display: none;
  }

  .secondary.pointing.toc.menu {
    display: block;
  }
}
