<h2 class="ui header blue ribbon label">
  <i class="newspaper icon"></i>
  <div class="content">
    Our Story
    <div class="sub header">
      The Long Journey We've Had
    </div>
  </div>
</h2>
<div class="ui basic segment">
  <div class="ui center aligned stackable grid">
    <div class="stretched middle aligned row">
      <div class="six wide column">
        <div class="ui basic segment">
          <h2 class="ui huge center aligned header picture-caption">
            A Story of Two Friends...
          </h2>
          <div class="ui medium circular image">
            {{lazy-image url="/assets/images/story/story_1.jpg"}}
          </div>
        </div>
      </div>
      <div class="eight wide column">
        <div class="ui basic left aligned segment">
          <p>
            He was a boy, an avid gamer, a diligent student, and a model for persistence.  She was a girl, a film and tv enthusiast, a carefree student, and a believer of sleep. These two people could not be more different, and yet, they were able to cement an amazing, long-lasting friendship…when one of their mutual friends TOTALLY FLAKED for a lunch get-together with the girl (take a wild guess on who that was).
          </p>
          <p>
            And then the tale of two friends evolved into the tale of two best friends. And with the blossoming of the relationship, the then timid boy decided to make a bold move that pushed him out of his comfort zone. He confessed to the fleeting girl that he thinks of her as more than a friend, despite how afraid he was of her response.
          </p>
          <p>
            Much to his surprise, she reciprocated the feelings, but…life just is not that easy. The girl, despite her want to pursue something more, was crippled by a fear of the future and was not ready for something as serious as a relationship.
          </p>
        </div>
      </div>
    </div>
    <div class="stretched middle aligned row">
      <div class="six wide column">
        <div class="ui basic segment">
          <h2 class="ui huge center aligned header picture-caption">
            Who Went on Many Adventures...
          </h2>
          <div class="ui medium circular image">
            {{lazy-image url="/assets/images/story/story_2.jpg"}}
          </div>
        </div>
      </div>
      <div class="eight wide column">
        <div class="ui basic left aligned segment">
          <p>
            Being the very essence of persistence, the boy would not take this soft "no" as an answer. And so, over the course of several months, he, with the help of his friends and her friends, did everything they could to change her mind...
          </p>
          <p>
            Seven months passed. Seven months filled with hanging out, adventures, and persistent badgering from the boy about their relationship. And on the night of October 9, 2011, while the boy dropped the girl off from a mutual friend camping trip, he asked her one last time to go out with him...
          </p>
          <p>
            And she finally said "yes", albeit after punching him in the face first for being so annoying for the past seven months. With that flying, viper punch to the face, a pact was formed that cemented their relationship as a couple over the next several years...
          </p>
        </div>
      </div>
    </div>
    <div class="stretched middle aligned row ">
      <div class="six wide column">
        <div class="ui basic segment">
          <h2 class="ui huge center aligned header picture-caption">
            And Ended Up Together...
          </h2>
          <div class="ui medium circular image">
            {{lazy-image url="/assets/images/story/story_3.jpg"}}
          </div>
        </div>
      </div>
      <div class="eight wide column">
        <div class="ui basic left aligned segment">
          <p>
            Now let's fast-forward to December 26, 2016. After years being together and happy, the boy was ready to perform the final step: the proposal. He had crafted the best plan he could with the timeframe available and the tools at his disposal. Although his plan would never live up to larger-than-life vision the girl had for the proposal (in one of her long slumbers, she concocted a dream version of the boy who proposed to her on the rings of Saturn...how do you compete with that???), he put forth every energy into coming up with the best scheme.
          </p>
          <p>
            With ring in hand and a few friends to help execute the plan, he took the girl to a Chinese Lantern festival in the heart of Downtown Atlanta. Surrounded by the beautiful lights and with a large beaming dragon overlooking the two, he pulled her aside to get a picture taken by their accompanying friends. In between shots, he stepped back behind her, got on one knee,  pulled out the ring, and asked her to turn around...
          </p>
          <p>
            The girl screamed in excitement and in mid-sentence of the boy's question, she responded with her answer. This time, contrary to her hesitation from many years ago and having experienced many years of happiness with the boy, she responded with a firm, confident "yes"...and I think you can put the rest of the story together from there!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
