<div class="ui piled segment">
  <div class="ui raised segment">
    <h2 class="ui header blue ribbon label">
      <i class="camera retro icon"></i>
      <div class="content">
        Gallery
        <div class="sub header">
          The Moments We've Capture
        </div>
      </div>
    </h2>
    <div class="ui basic segment">
      {{#photo-swipe class="ui center aligned grid images" items=myGallery as |img|}}
        <img class="ui small image" src={{img.src}} alt={{img.title}}>
      {{/photo-swipe}}
    </div>
  </div>
</div>
