<h2 class="ui header blue ribbon label">
  <i class="map pin icon"></i>
  <div class="content">
    The Venue
    <div class="sub header">
      Our Grandest Ballroom
    </div>
  </div>
</h2>
<div class="ui basic segment middle aligned stackable two column grid">
  <div class="six wide column">
    <h2 class="ui huge header">
      <div class="content">
        The Atrium
        <div class="sub header">
          139 North Norcross-Tucker Rd<br />
          Norcross, GA 30071
        </div>
      </div>
    </h2>
  </div>
  <div class="ten wide column">
    {{ui-embed data-url="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3310.2124262149023!2d-84.21832908447796!3d33.93566413131132!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88f5a13197a0b4c9%3A0x53df8b415eaef0e9!2sAtrium!5e0!3m2!1sen!2sus!4v1492479760561"}}
  </div>
</div>
