<h2 class="ui header blue ribbon label">
  <i class="hotel icon"></i>
  <div class="content">
    Accommodations
    <div class="sub header">
      Rest Up Before the Big Day!
    </div>
  </div>
</h2>
<div class="ui basic segment">
  <div class="row">
    <h2 class="ui header center aligned">Hotel Block</h2>
    <h3 class="ui center aligned medium header">
      <div class="content">
        Hyatt Place Atlanta/Norcross/Peachtree
        <div class="sub header">
          5600 Peachtree Parkway<br />
          Norcross, GA 30092<br />
          770.416.7655
        </div>
      </div>
    </h3>
    <h4 class="ui header">
      <div class="content">
        Good news, everyone!
        <div class="sub header">
          We have set up a hotel block at the Hyatt Place Atlanta/Norcross/Peachtree for the event to help reduce costs for our out-of-town guests. Listed below is all the information you need to know if you wish to take advantage of the block rates.
        </div>
      </div>
    </h4>
    <h4 class="ui header">
      <div class="content">
        Room Rates
        <div class="sub header">
          <p>
            The hotel has agreed to the following guest room rates:
          </p>
          <p>
            Single/Double Occupancy: $ 79.00 (Thursday-Sunday),
            $119.00 (Wednesday)
          </p>
          <p>
            Room rates do not include state and local taxes (13%) and a $5 motel/hotel fee.
          </p>
          <p>
            Check-in time is at 3 pm, Check-out time is at 12 pm.
          </p>
        </div>
      </div>
    </h4>
    <h4 class="ui header">
      <div class="content">
        How to Reserve
        <div class="sub header">
          <p>
            If you wish to reserve a room from the hotel block, you can:
          </p>
          <ul class="ui list">
            <li>
              Call Hyatt toll free at 888-492-8847 and:
            </li>
            <ul>
              <li>
                Ask for these available dates, October 11-15, 2017
              </li>
              <li>
                Ask for Queen-Lodhia Wedding
              </li>
            </ul>
            <li>
              Reserve thorugh their <a href="http://norcross.place.hyatt.com/en/hotel/home.html?corp_id=G-QULD">website</a> and
            </li>
            <ul>
              <li>
                Type in arrival date of 10/11-15/17
              </li>
              <li>
                Enter the group/crporate booking code: G-QULD
              </li>
            </ul>
          </ul>
          <p>
            Please have your credit card ready at the time you make your reservation. It is not recommended using debit
cards. A credit card is required upon check in and will be pre-authorized for incidental charges.
          </p>
        </div>
      </div>
    </h4>
    <h4 class="ui header">
      <div class="content">
        Reservations Cut-Off Date
        <div class="sub header">
          The "cut-off date" to reserve a room in the block is 12:01 am on Tuesday, September 12, 2017. If you reserve a room after this date, you will be subject to the hotel's prevailing rates.
        </div>
      </div>
    </h4>
    <h4 class="ui header">
      <div class="content">
        Hotel Amenities
        <div class="sub header">
          The hotel offers the following complimentary amenities to its guests:
          <ul class="ui list">
            <ul>
              <li>
                Complimentary a.m. Kitchen Skillet breakfast buffet
              </li>
              <li>
                Complimentary shuttle service to local restaurants and shopping within a five (5) mile radius
              </li>
              <li>
                Complimentary self-parking
              </li>
              <li>
                Business center
              </li>
              <li>
                Complimentary Wi-Fi Internet throughout the entire hotel
              </li>
              <li>
                Fresh 24/7 menu in their Gallery Café
              </li>
              <li>
                Beer, wine and spirits available until 12 midnight
              </li>
              <li>
                Starbucks Coffee bar featuring signature Starbucks coffees
              </li>
              <li>
                24-hour fitness center
              </li>
            </ul>
          </ul>
        </div>
      </div>
    </h4>
  </div>
</div>
<div class="ui basic segment centered stackable two column grid">
  <div class="row">
    <h2 class="ui header center aligned">Other Nearby Hotels</h2>
  </div>
  <div class="column">
    <h3 class="ui center aligned medium header">
      <div class="content">
        Atlanta Marriott Peachtree Corners
        <div class="sub header">
          475 Technology Parkway NW<br />
          Peachtree Corners, GA 30092<br />
          770.263.8558
        </div>
      </div>
    </h3>
  </div>
  <div class="column">
    <h3 class="ui center aligned medium header">
      <div class="content">
        Courtyard by Marriott Peachtree Corners
        <div class="sub header">
          3209 Holcomb Bridge Rd<br />
          Norcross, GA 30092<br />
          770.446.3777
        </div>
      </div>
    </h3>
  </div>
  <div class="column">
    <h3 class="ui center aligned medium header">
      <div class="content">
        Hilton Atlanta Northeast
        <div class="sub header">
          5993 Peachtree Industrial Blvd<br />
          Norcross, GA 30092<br />
          678.533.3334
        </div>
      </div>
    </h3>
  </div>
  <div class="column">
    <h3 class="ui center aligned medium header">
      <div class="content">
        Hampton Inn Norcross
        <div class="sub header">
          440 Technology Parkway NW<br />
          Norcross, GA 30092<br />
          770.729.0015
        </div>
      </div>
    </h3>
  </div>
</div>
