<h2 class="ui header blue ribbon label">
  <i class="hotel icon"></i>
  <div class="content">
    Accomadations
    <div class="sub header">
      Rest Up Before the Big Day!
    </div>
  </div>
</h2>
<div class="ui basic segment centered stackable two column grid">
  <div class="column">
    <h3 class="ui center aligned medium header">
      <div class="content">
        Atlanta Marriott Peachtree Corners
        <div class="sub header">
          475 Technology Parkway NW<br />
          Peachtree Corners, GA 30092<br />
          770.263.8558
        </div>
      </div>
    </h3>
  </div>
  <div class="column">
    <h3 class="ui center aligned medium header">
      <div class="content">
        Courtyard by Marriott Peachtree Corners
        <div class="sub header">
          3209 Holcomb Bridge Rd<br />
          Norcross, GA 30092<br />
          770.446.3777
        </div>
      </div>
    </h3>
  </div>
  <div class="column">
    <h3 class="ui center aligned medium header">
      <div class="content">
        Hilton Atlanta Northeast
        <div class="sub header">
          5993 Peachtree Industrial Blvd<br />
          Norcross, GA 30092<br />
          678.533.3334
        </div>
      </div>
    </h3>
  </div>
  <div class="column">
    <h3 class="ui center aligned medium header">
      <div class="content">
        Hampton Inn Norcross
        <div class="sub header">
          440 Technology Parkway NW<br />
          Norcross, GA 30092<br />
          770.729.0015
        </div>
      </div>
    </h3>
  </div>
</div>
