<h2 class="ui header blue ribbon label">
  <i class="road icon"></i>
  <div class="content">
    Directions
    <div class="sub header">
      Gotta Avoid Those Collapsed Highways!
    </div>
  </div>
</h2>
<p></p>
<p>
  Directions will be provided soon(tm)!
</p>
<p></p>
