<h2 class="ui header blue ribbon label">
  <i class="calendar icon"></i>
  <div class="content">
    Schedule
    <div class="sub header">
      And All the Times You Need to Know!
    </div>
  </div>
</h2>
<div class="ui basic segment middle aligned stackable two column grid">
  <div class="column">
    <h2 class="ui huge header">
      <div class="content">
        Ceremony & Reception
        <div class="sub header">
          Friday, October 13, 2017
        </div>
      </div>
    </h2>
  </div>
  <div class="column">
    <h3 class="ui large header">
      <i class="car icon"></i>
      <div class="content">
        <em>Arrive</em>
        <div class="sub header">
          7:00 PM
        </div>
      </div>
    </h3>
    <h3 class="ui large header">
      <i class="diamond icon"></i>
      <div class="content">
        <em>Ceremony</em>
        <div class="sub header">
          7:30 PM
        </div>
      </div>
    </h3>
    <h3 class="ui large header">
      <i class="cocktail icon"></i>
      <div class="content">
        <em>Reception</em>
        <div class="sub header">
          8:00 PM -11:00 PM
        </div>
      </div>
    </h3>
  </div>
</div>
