<div class="ui main container">
  <div class="ui container">
    <h1 class="ui center aligned icon header item">
      <i class="circular heart icon"></i>
      Rahmaan and Susan Wedding
    </h1>
    <div class="ui six stackable item inverted menu">
        <a class="item">Home</a>
        <a class="item">Our Story</a>
        <a class="item">Details</a>
        <a class="item">Travel</a>
        <a class="item">Registry</a>
        <a class="item">Contact</a>
    </div>
  </div>
</div>
