<div class="ui piled segment">
  <div class="ui raised segment">
    <h2 class="ui header blue ribbon label">
      <i class="ticket icon"></i>
      <div class="content">
        RSVP
        <div class="sub header">
          To the Event of the Decade!
        </div>
      </div>
    </h2>
    <p></p>
    <p>
      RSVP information will be provided soon(tm)!
    </p>
    <p></p>
  </div>
</div>
