<div class="ui piled segment">
  <h2 class="ui icon center aligned header">
    <i class="heart icon"></i>
    <div class="content">
      Rahmaan Lodhia
      <div class="ui horizontal divider">
        And
      </div>
      Susan Queen
      <h3 class="ui sub header">Are getting married!</h3>
    </div>
  </h2>
</div>
