<div class="ui vertical center aligned segment">
  <h2 class="ui icon center aligned header">
    <i class="heart icon"></i>
    <div class="content">
      Rahmaan Lodhia
      <div class="ui horizontal divider">
        And
      </div>
      Susan Queen
    </div>
  </h2>
</div>
