<div class="ui vertical center aligned basic segment home-image">
  <div class="ui centered rounded fluid image">
    <img src="/assets/images/gallery1.jpg">
    <h1 class="ui center aligned huge header home-message">
        We're Getting Married!
    </h1>
  </div>
</div>
