<div class="ui vertical center aligned piled segment home-image">
  <div class="ui centered rounded big image">
    <img src="/assets/images/gallery1.jpg">
    <h2 class="ui icon center aligned header">
      <i class="heart icon"></i>
      <div class="content">
        Rahmaan Lodhia
        <div class="ui horizontal divider">
          And
        </div>
        Susan Queen
      </div>
    </h2>
  </div>
</div>
