<div class="ui piled segment">
  <div class="ui raised segment">
    <h2 class="ui header blue ribbon label">
      <i class="gift icon"></i>
      <div class="content">
        Registry!
        <div class="sub header">
          Now in Three Different Flavors!
        </div>
      </div>
    </h2>
    <div class="ui center aligned basic segment">
      <div class="ui three column stackable divided grid">
        <div class="row">
          <div class="center aligned column">
            <div class="ui center aligned padded grid">
              <div class="row">
                <a href="https://www.bedbathandbeyond.com:443/store/giftregistry/view_registry_guest.jsp?registryId=544526139&eventType=Wedding&pwsurl=">
                  <div class="ui centered small image">
                    <img src="/assets/images/registry/bbb_image.png" />
                  </div>
                </a>
              </div>
              <div class="row">
                <p>
                  For those wishing to provide us with gifts to help furnish our bedroom, bathrooms, and kitchen in our lovely home, we have created a <em>Bed Bath & Beyond</em> registry just for you!
                </p>
                <p>
                  Our Registry # is <strong>54426139</strong>.
                </p>
                <p>

                  You may either visit any <em>Bed Bath & Beyond</em> in-store and provide that registry number above, or you can go online to their <a href="www.bedbathandbeyond.com">website</a> and enter in the registry number provided to find it.
                </p>
                <p>
                  You can also click the above image to take you directly to the registry online!
                </p>
              </div>
            </div>
          </div>
          <div class="center aligned column">
            <div class="ui center aligned padded grid">
              {{!-- <div class="row">
                <h4 class="ui dividing header">
                  <i class="plug circular icon"></i>
                  <div class="content">
                    Appliances & Tools
                  </div>
                </h4>
              </div> --}}
              <div class="row">
                <a href="https://www.amazon.com/wedding/susan-queen-rahmaan-lodhia-norcross-october-2017/registry/12P5OP8BUUS5A">
                  <div class="ui centered small image">
                    <img src="/assets/images/registry/amazon_image.png" />
                  </div>
                </a>
              </div>
              <div class="row ">
                <p>
                  For those wishing to provide us with gifts of long-lasting appliances and useful electronics, and kitchen in our lovely home, we have created an <em>Amazon</em> registry just for you!
                </p>
                <p>
                  You can can click the above image to take you directly to the registry online!
                </p>
              </div>
            </div>
          </div>
          <div class="center aligned column">
            <div class="ui center aligned padded grid">
              <div class="row">
                <a href="https://www.zola.com/registry/rahmaanandsusan">
                  <div class="ui centered small image">
                    <img src="/assets/images/registry/zola_image.png" />
                  </div>
                </a>
              </div>
              <div class="row ">
                <p>
                  For those wishing to help fund our wonderful honeymoon and provide long-lasting traveling gifts, we have created an <em>Amazon</em> registry just for you!
                </p>
                <p>
                  You can can click the above image to take you directly to the registry online!
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
