<div class="ui piled segment">
  <div class="ui raised segment">
    <h2 class="ui header blue ribbon label">
      <i class="gift icon"></i>
      <div class="content">
        Registry!
        <div class="sub header">
          For Those Easy Gift Ideas!
        </div>
      </div>
    </h2>
    <p></p>
    <p>
      Registry will be provided soon(tm)!
    </p>
    <p></p>
  </div>
</div>
