<div class="ui piled segment">
  <div class="ui raised segment">
    <h2 class="ui header blue ribbon label">
      <i class="gift icon"></i>
      <div class="content">
        Registry!
        <div class="sub header">
          For Those Traditional Gift Ideas!
        </div>
      </div>
    </h2>
    <div class="ui centered grid">
      <div class="ui one centered column grid row">
        <h3 class="ui header row">
          We are pleased to announce that we have registered at:
        </h3>
        <a href="https://www.bedbathandbeyond.com:443/store/giftregistry/view_registry_guest.jsp?registryId=544526139&eventType=Wedding&pwsurl=" class="row">
          <div class="ui centered small image">
            <img src="/assets/images/registry/registry_image.png" />
          </div>
        </a>
      </div>
      <div class="ui three column very relaxed grid row">
        <div class="center aligned column">
          <p>
            Our Registry # is <strong>54426139</strong>.<br />
            You may either visit any <em>Bed Bath & Beyond</em> in-store and provide that registry number above.
          </p>
        </div>
        <div class="ui vertical divider">
          or
        </div>
        <div class="center aligned column">
          <p>
            You can go online to their <a href="www.bedbathandbeyond.com">website</a> and enter in the registry number provided to find it.
          </p>
        </div>
        <div class="ui vertical divider">
          or
        </div>
        <div class="center aligned column">
          <p>
            You can click the above image to take you directly to the registry online!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
