<div class="ui piled segment">
  <div class="ui raised segment">
    <h2 class="ui header blue ribbon label">
      <i class="newspaper icon"></i>
      <div class="content">
        Our Story
        <div class="sub header">
          The Long Journey We've Had
        </div>
      </div>
    </h2>
    <p></p>
    <p>
      This is where we will put the contents of our story!
    </p>
    <p></p>
  </div>
  {{story/wedding-party}}
</div>
