<div class="ui piled segment">
  <div class="ui raised segment">
    <h2 class="ui header blue ribbon label">
      <i class="hotel icon"></i>
      <div class="content">
        Accomadations
        <div class="sub header">
          Rest Up Before the Big Day!
        </div>
      </div>
    </h2>
    <p></p>
    <p>
      Hotel block information will be provided soon(tm)!
    </p>
    <p></p>
  </div>
</div>
